body{
    margin: 0;
}


.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 65vh repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: 
    "signup ."
    "name ."
    "email ."
    "password ."
    "sign ."
    "text ."
    "media ."
    ;
}
.signup{
    grid-area: signup;
    text-align: center;
   
}
.name{
    grid-area: name;
    text-align: center;
}

.email{
    grid-area: email;
    text-align: center;
}

.password{
    grid-area: password;
    text-align: center;
}

.sign{
    grid-area: sign;
    text-align: center;
}

.text{
    grid-area: text;
    text-align: center;
}

.media{
    grid-area:media;
}

.media{
    grid-area:media;
    display: inline;
    align-content: center;
}

